* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
} 

body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 0px;
    padding: 0px;
    color: #89D2DC;
    background-image: url(images/background.avif);
    background-repeat: repeat;
    background-size: 100%;
}

header {
    background-color: rgba(19, 19, 20, 1);
    padding-left: 20px;
    color: #ebf5f6;
}

footer {
    background-color: #232ED1;
}

ul {
    margin: 0px;
    padding : 0px;
    list-style-type: none; 
}

li {
    display: inline-block;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

a {
    text-decoration: none;
    color: #89D2DC; 
    padding: 10px;
}

a:hover {
    background: #101D42;
}

.selfie {
    border-radius:50%;
    border: 3px solid black;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 50px;
}

.titlename {
    text-align: center;
    text-transform: capitalize;
    font-size: xx-large;
    -webkit-text-stroke: 2px black;
    color: white;
    margin-top: 10px;
}