
/* General Rules */

:root {
    --text-color: #89D2DC; 
    --highlight: #101D42;
}

* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
    caret-color: transparent;
} 

body {
    font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace !important;
    margin: 0px;
    padding: 0px;
    color: var(--text-color); 
    background-image: url(images/background.png);
    background-size: 100%;
}

.code-like {
    background-color: black;
    border-color: #30363D;
    border-radius: 0.4rem;
    border-style: solid;
    border-width: max(1px, 0.0625rem);
}

/* Header */

header {
    background-color: rgba(19, 19, 20, 1);
}

ul {
    list-style-type: none; 
}

nav li {
    display: inline-block;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}

nav {
    font-size: 24px;
}

a {
    color: var(--text-color); 
    text-decoration: none;
    padding: 10px;
}

nav a:hover {
    background: var(--highlight);
}

/* Home Screen */

.selfie {
    border-radius:50%;
    border: 3px solid black;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 33px;
    width: clamp(200px, 30%, 350px);
}

.titlename {
    text-align: center;
    text-transform: capitalize;
    font-size: 32px;
    display: table;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 100px;
}

/* About Me Section */

.aboutme {
    text-align: center;
    padding: 15px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 120px;
}

h1 {
    padding-bottom: 20px;
}

/* Contact & Portfolio Section */

section li {
    flex: 1;
    flex-basis: 100%;
    text-align: center;
    margin: 40px;
    max-width: 300px;
}

section ul {
    flex-wrap: wrap;
}

.cont .projimg {
    float: left;
    width:  100px;
    height: 200px;
    object-fit: contain;
}

.cont {
    margin-top: 40px;
}

.cont a {
    display: block;
    padding: 25px;
}

.projp {
    margin-top: 220px;
}

.contp {
    margin-top: 20px;
}

.cont li:hover {
    background: var(--highlight);
}

.fill img {
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
}

.logo {
    float: center;
}

/* Flex Container Rules */

.flexcontainer {
    display: flex;
}

.flexcontainer.center {
    align-items: center;
}

.flexcontainer.space-around {
    justify-content: space-around;
}

.flexcontainer.space-between {  
    justify-content: space-between;
}

/* Footer */
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

footer > p {
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
}

/* Media */
@media screen and (max-width: 805px) {
    nav li {
        font-size: 16px;
        padding-right: 25px;
    }

    .titlename {
        font-size: 24px;
    }

    .aboutme {
        margin-left: 75px;
        margin-right: 75px;
        margin-top: 65px;
        font-size: 75%;
    }

    section li {
        margin: 30px;
        max-width: 250px;
    }

    .cont {
        margin-top: 30px;
    }

    .cont p {
        margin-top: 15px;
    }
}

@media screen and (max-width: 540px) {
    nav li {
        font-size: 12px;
        padding-right: 0px;
    }

    .titlename {
        font-size: 20px;
    }

    .aboutme {
        margin-left: 50px;
        margin-right: 50px;
        margin-top: 40px;
        font-size: 50%;
    }

    section li {
        margin: 20px;
        max-width: 200px;
    }

    .cont {
        margin-top: 20px;
    }

    .cont p {
        margin-top: 10px;
    }
}